<div class="img-fluid savings-accounts-bg-image text-white container-fluid">
  <div class="heading-pad">
    <h4  class="heading">Savings <br/>Accounts</h4>
    <img
      src="assets/images/savings-account-home/savings-accounts-inside.png"
      alt="savings accounts image"
      class="custom-img mx-auto d-block"
    />
  </div>
  <div class="heading-btn">
    <button
    class="btn custom-btn mt-4"
    type="button"
    (click)="openSavingsAccounts()"
    >
    MANAGE
    </button>
  </div>
   
</div>
