.theader{
    background: #F5F6F8 0% 0% no-repeat padding-box;
border-radius: 8px 8px 0px 0px;
opacity: 1;
}
.tbody{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #D6D6D615;
border: 1px solid #F7F7F7;
border-radius: 8px;
opacity: 1;
}
.parent{
    margin-left: 1.18rem;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.child {
    width: 10%;
}
.active {
    padding-top: 15px; 
    padding-top: 0.5rem;
    background: #53a485 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 26px #00000017;
    border-radius: 100px;
    opacity: 0.1;
    text-align: center;
    font: normal normal bold 14px/17px Lato;
    letter-spacing: 0px;
    color: #7cd37c;
    opacity: 1;
    width: 5% !important;
}
.customer{
    margin: 1.3rem 2.56rem 2.56rem 2.56rem;
    width: 96%;
    border-radius: 7px 7px 7px 7px;
    opacity: 1;
    border: 1px solid rgb(0 0 0 / 23%);
}

.main-customer{
    top: 0px;
    left: 0px;
    width: 100%;
    /* height: 1080px; */
    /* UI Properties */
    background: #FCFCFC 0% 0% no-repeat padding-box;
    opacity: 1;
}
.sceond-main{
    margin-left: 10rem;
    margin-right: 8.75rem;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #AFAFAF29;
    opacity: 1;
}
.modify-class{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C6CCD1;
    display: flex;
    flex-direction: row;
    height: 6.75rem;

}
.modified-class{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding-left: 60%;
    border: 1px solid #C6CCD1;  
    height: 6.75rem;
    border-radius: 7px;
}
.modify-parent{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    border-right: 1px solid #C6CCD1;
}
.input-tag{
    margin-left: 3.18rem;
    height: 3.4rem;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
    border-radius: 7px;
}
.modify-amount {
    border: 1px solid #C7C7C7;
    border-radius: 4px;
    margin-left: 8.56rem;
    color: #939393;
    margin-top: 1.25rem;
    height: 4.12rem;
    margin-bottom: 0.5rem;
    border-radius: 7px;

}
.btn-class{
    margin-top: 1.25rem;
    height: 4.12rem;
    color: #FFFFFF;
    margin-left: 0.5rem;
    width: 9.68rem;
    background: #EE0200 0% 0% no-repeat padding-box;
    margin-bottom: 0.5rem;
    border-radius: 7px;
}
.notification{
    text-align: end;
    background: #F5F6F8;
    box-sizing: border-box;
    height: 2rem;
}
.closebtn{    
text-decoration: underline;
font: normal normal bold 16px/19px Wallop;
letter-spacing: 0px;
color: #354767;
opacity: 1;
}
.blockbtn{
text-decoration: underline;
font: normal normal bold 16px/19px Wallop;
letter-spacing: 0px;
color: #EE0200;
margin-right: 2rem;
opacity: 1;
}
.pic{
    margin-right: 0.4rem;
}
.pic2{
    margin-left: 1rem;
    margin-right: 0.2rem;
}
.dialog{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 12px;
opacity: 1;
top: 444px;
left: 713px;
width: 494px;
height: 193px;
background: green;
}


::ng-deep .p-dialog-mask  {
    background-color: #000000 /* Dark black overlay with some transparency */;
    opacity: 0.9;
}
::ng-deep .p-dialog {
    background-color: #FFFFFF ;
    width: 35rem !important;
height: 12rem !important;
} 


.modal-btn {
    margin-top: 1.25rem;
    height: 3.625rem;
    color: #FFFFFF;
    margin-left: 0.5rem;
    width: 5rem;
    background: #EE0200 0% 0% no-repeat padding-box;
    margin-bottom: 0.5rem;
}
::ng-deep .p-datatable-thead {
    margin-right: 10rem;

    width: 97.5rem;
    height: 2.5rem;
    /* UI Properties */
    background: #F5F6F8 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
    opacity: 1;
}

::ng-deep .p-datatable-table{
    margin-bottom: 2rem !important;
    height: 45rem !important;
}

::ng-deep .p-paginator{
    padding-right: 5rem;
    justify-content: flex-end;
}

.column-width{
    width: 18%;
    padding-left: 0.5rem;
    height: 2.6rem;
}
.not-received{
    color: #EE0200;
}
.received{
    color:#38C18D;
}


