.background-customise {
  background-color: #fcfcfc;
  background-repeat: no-repeat;
}
.account-container {
  background-color: white;
  box-shadow: 0px 0px 12px #afafaf29;
  border-radius: 12px;
  opacity: 1;
}
.data-container {
  background-color: white;
  box-shadow: 0px 0px 9px #afafaf29;
  border-radius: 4px;
  opacity: 1;
}
.balance-container {
  background-color: #f5f6f8;
  border-radius: 12px;
}

.green-pill {
  color: #1bb077;
  background-color: #c3eadb;
}
.red-pill {
  color: #b01b1b;
  background-color: #eac3c3;
}

a,
u {
  text-decoration: none;
}
.repayment {
  margin: 1rem;
}
.repayment-text {
  margin-right: 1rem;
}
