<div class="main-customer">
    <span style="margin-left: 10rem;" (click)="routeToLoanTable()">Back</span>
    <div class="sceond-main">
        <div>
            <h1 style="margin-top: 2.5rem; margin-left: 2.5rem; font-weight: bold; 
            padding-top: 2.5rem;padding-bottom: 0.5rem;">Payment History</h1>
            <div class="customer">
                <div style="padding-top: 1.25rem;">
                    <div style="background: #FFFFFF 0% 0% no-repeat padding-box;">
                        <div class="parent">
                            <p class="child">
                                Customer ID
                            </p>
                            <p class="child">
                                Customer Name
                            </p>
                        </div>
                        <div class="parent">
                            <h3 class="child">
                                1234567890
                            </h3>
                            <h3 class="child">
                                Senthil Kumar
                            </h3>
                            <h3 class="child active">
                                Active
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-left: 2.5rem;">
            <h3 style="margin-bottom: 0.75rem;">Loan Transaction History</h3>
            <p-table [value]="transactions" [paginator]="true" [tableStyle]="{ 'min-width': '50rem' }"
            [scrollable]="true"
            [rows]="10"    
            [rowsPerPageOptions]="[10, 20, 30, 90]">
                <ng-template pTemplate="header" class="theader">
                    <tr>
                        <th pSortableColumn="date" class="column-width">Date <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="description" class="column-width">Description <p-sortIcon
                                field="description"></p-sortIcon></th>
                        <th pSortableColumn="amount" class="column-width">Amount <p-sortIcon
                                field="amount"></p-sortIcon></th>
                        <th pSortableColumn="type" class="column-width">Type <p-sortIcon field="type"></p-sortIcon></th>
                        <th pSortableColumn="balance" class="column-width">Balance <p-sortIcon
                                field="balance"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-transaction class="tbody">
                    <tr>
                        <td class="column-width">{{transaction.date}}</td>
                        <td class="column-width">{{transaction.description}}</td>
                        <td class="column-width">{{transaction.amount}}</td>
                        <td class="column-width" [ngClass]="transaction.type == 'Received' ? 'received' : 'not-received'">
                            {{transaction.type}}</td>
                        <td class="column-width">{{transaction.balance}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
