<div class="align-items-start">
  <h4 class="h3 strong py-4 font-weight-bold h3-pad">{{ accountName }}</h4>
  <div class="px-3 justify-content-between d-flex flex-row ">
    <div class="inside-search-box rounded-2 w-100">
      <input
        matInput
        [(ngModel)]="searchText"
        type="search"
        class="bg-light ps-4"
        placeholder="{{ searchPlaceHolder }}"
      />
      <button
        type="button"
        id="searchButton"
        class="btn btn-danger rounded text-center px-5 bold"
        (click)="searchEvent()"
      >
        SEARCH
      </button>
    </div>
    <div class="d-flex flex-row ps-2">
      <button
        type="button"
        id="createButton"
        class="btn rounded btn-outline-danger"
        (click)="createEvent()"
      >
        {{ buttonName }}
      </button>
    </div>
  </div>
  <div class="pb-3"></div>
</div>
