<div
  class="img-fluid customer-accounts-bg-image text-white container-fluid"
>  
<div class="heading-pad">
  <h4 class="heading">Customer <br/>Accounts</h4>
  <img
        src="assets/images/customer-account-home/customer-accounts-inside.png"
        alt="customer accounts image"
        class="custom-img mx-auto d-block"
      />
</div>
       
      <div class="heading-btn">
        <button
          class="btn custom-btn mt-4"
          type="button"
          (click)="openCustomerAccounts()"
        >
          MANAGE
        </button>
      </div>
   
      
  
</div>
