
.customer-accounts-bg-image{
    padding: 0;
    min-height: 30vh;
    background-color: #e80200;
    border-radius: 10px;
}

.customer-accounts-image{
    background-image: url("src/assets/images/customer-account-home/customer-accounts-inside.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.heading{
    display: inline;
    color:#edd2d2;
    font-family: serif;
}
.custom-img{
    height: 100px;
    float: right;
    margin-top: -12%;
}
.heading-pad{
    padding: 34px;
}
.heading-btn{
    padding-left: 34px;
    padding-bottom: 20px;
    margin-top: -8%;
}
.custom-btn {
    background-color: white;
    color: red;
    text-align: center;
    font-size: small;
    font-weight: bolder;
}

.thin-text {
    font-weight: 300; /* Adjust the font-weight to make text thinner */
  }

