<div class="container">
  <div class="shadow rounded p-3">
    <div class="h4 strong bold">Total Customer % by City</div>
    <div class="container pt-3">
      <div class="d-flex flex-column">
        <div class="">Total Customers</div>
      </div>
      <div ngbDropdown>
        <button class="btn" ngbDropdownToggle>
          Filter By City
          <div ngbDropdownMenu aria-labelledby="dropdownConfig">
            <button
              *ngFor="let menuItem of cities"
              ngbDropdownItem
              (click)="getGraph(menuItem)"
            >
              {{ menuItem }}
            </button>
          </div>
        </button>
      </div>
    </div>
    <div class="pb-5">
      <div
        class="circle-border"
        [style.background]="getBackground(fillPercentage)"
      >
        <div class="circle"></div>
        <div class="percentage">{{ fillPercentage }}%</div>
      </div>
    </div>
  </div>
</div>
