<div class="count p-4 container-fluid">
    <div>
        <h1 class ="header">Total Customer % by City</h1>
    </div>
    <div class="s1">
        <h1 class="header-1">Total Customers</h1>    
        <select name="cars" id="cars" class="dropdown" placeholder="filter"  >
            <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
          </select>
    </div>   
      <div class="">
        <!-- <div class="t1" [style.background]="getBackground(80)">
        <div class="circle-container">  
          <div class="percentage">{{ fillPercentage }}%</div>      
        </div> -->
        <div class="circle-border" [style.background]="getBackground(60)">
          <div class="circle"></div>
          <div class="percentage">{{ fillPercentage }}%</div>
        </div>
      </div>   
</div>